@font-face {
  font-family: PressToStart;
  src: url("/open_play_analysis/static/PressStart2P-Regular.ttf");
}

.bk-btn {
  align-items: center;
  background-color: #f8f4c7;
  border: 2px solid #0D2152;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0D2152;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bk-btn:after {
  background-color: #0D2152;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.bk-btn:hover:after {
  transform: translate(0, 0);
}

.bk-btn:active {
  background-color: #f8f4c7;
  outline: 0;
}

.bk-btn:hover {
  outline: 0;
}

@media (min-width: 100px) {
  .bk-btn {
    padding: 0 40px;
  }
}
